* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: darkgrey;
  background-image: url('imgs/cash.jpg');
}
.container {
  padding: 10px;
  width: 1000px;
  height: 700px;
  padding: 165px 175px;
  margin: 0 auto;
  background-image: url('imgs/bg-img.jpg');
  background-size: 100% 100%;
  overflow: visible;
}
h1 {
  display: inline-block;
}

.fruit aside:nth-child(2) {
  font-size: 24px;
  position: relative;
  top: -15px;
}

.fruit img {
  margin: 15px 0;
}
.cash-money {
  margin: 0 0 0 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-image: url('http://previews.123rf.com/images/my123rf88/my123rf881401/my123rf88140100051/25279093-Blank-one-dollar-bill-Stock-Photo.jpg');
  /*background-size: */
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  width: 150px;
  padding: 20px 0;
  color: olivedrab;
}

.list-of-fruit .fruit, .sell-fruit div, .total-quant article {
  width: 150px;
  border: 1px solid rgba(0,0,0,.5);
  margin: 5px;
  text-align: center;
  float: left;
  border-radius: 5px;
  box-shadow: 1px 1px 0px rgba(0,0,0,.2);
}


.list-of-fruit .fruit {
  height: 200px;
  background-color: white;
}

.sell-fruit div {
  padding: 5px;
  background-color: rgba(0,0,0,.2);
}


.list-of-fruit .fruit:active, .sell-fruit div:active {
  position: relative;
  top: 2px;
  left: 2px;
  transition: all 10s;
}

.list-of-fruit .fruit:nth-child(3):active {
  top: 20px;
  transform: scale(2);
  transition: all .1s;
}

.list-of-fruit img {
  width: 50%;
  /*margin-top: 10px;*/
}

.fruit aside:first-child {
  height: 175px;
}

.total-quant, .bank {
  clear: both;
  float: left;
}

.fruit-display, .fruit-average-display {
  text-align: left
}

.total-quant article {
  padding: 5px 15px;
}

.total-quant span {
  float: right;
  margin-right: 5px;
}

.bank, .timer {
  text-align: center;
  margin: 10px 0;
  /*border: 1px solid red;*/
  width: 100%;

}
