* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  width: 860px;
  margin: 0 auto;
}
h1 {
  display: inline-block;
}

.cash-money {
  margin: 0 0 0 5px;
  border-radius: 5px;
  /*background-color: rgba(0,255,0,.3);*/
  background-image: url('http://previews.123rf.com/images/my123rf88/my123rf881401/my123rf88140100051/25279093-Blank-one-dollar-bill-Stock-Photo.jpg');
  /*background-size: */
  background-size: cover;
  background-position: -1px;
  height: 15px;
  width: 20px;
  padding: 10px 20px;
  color: olivedrab;
}

.list-of-fruit .fruit, .sell {
  width: 200px;
  border: 1px solid rgba(0,0,0,.5);
  margin: 5px;
  text-align: center;
  float: left;
  border-radius: 5px;
  box-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

.list-of-fruit .fruit {
  height: 200px;
}

.sell {
  padding: 5px;
  background-color: rgba(0,0,0,.2);
}


.list-of-fruit .fruit:active, .sell:active {
  position: relative;
  top: 2px;
  left: 2px;
  transition: all 10s;
}

.list-of-fruit .fruit:nth-child(3):active {
  top: 20px;
  transform: scale(2);
  transition: all .1s;
}

.list-of-fruit img {
  width: 50%;
  /*margin-top: 10px;*/
}

.fruit aside:first-child {
  height: 175px;
}

.total-quant, .bank {
  clear: both;
  float: left;
}

.bank {
  margin: 20px 0;
}
